{% extends 'base.html' %}

{% block head_title %}
This is amazing
{% endblock head_title %}

{% block content %}
Welcome to Pop


<div id='tweets'>
    Loading..
</div>

<script>
const tweetsElement = document.getElementById("tweets")


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function(){
    // console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response //this is an array
    var finalTweetStr =""
    var i;
    for (i=0 ; i < listedItems.length ; i++){
        console.log(i)
        console.log(listedItems[i])
        var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
        finalTweetStr += currentItem
    }
    // console.log(listedItems)
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()

</script>

{% endblock content %}