{% extends 'base.html' %}

{% block head_title %}
This is amazing
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Pop</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'> {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='Whats on your mind...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
    </div>
</div>

<div class='row' id='tweets'>
    Loading..
</div>

<script>

function handleTweetCreateFormDidSubmit(event){
    event.preventDefault()
    // console.log(event)
    const myForm = event.target // this way I can use the function in the future
    const myFormData = new FormData(myForm) // this is a built in class related to Form. This is used so I can add imaging and dynamic uploading
    // for (var myItem of myFormData.entries()){
    //    console.log(myItem) // -> key value pairs related to everything in the input
    // }
    // console.log(myForm) // -> find where the data is sent -> a HTML tag with the action attribute
    // console.log(myForm.getAttribute("action")) // -> This will give me where the action is going -> its going to create-tweet
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    // console.log(url, method)
    const xhr = new XMLHttpRequest() // <- this is to retrieve data from a URL without refreshing (auto-updating)
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        // console.log(serverResponse) // -> its getting the httpRedirect. When JavaScript is running the function, JavaScript is sending it to Django and is waiting for a response. The ersponse is a new page and loadin that new page. 
        const tweetsEl = document.getElementById("tweets")
        loadTweets(tweetsEl)
    }
    xhr.send(myFormData)
}

const tweetCreateForm = document.getElementById("tweet-create-form")

tweetCreateForm.addEventListener("submit", handleTweetCreateFormDidSubmit)

const tweetsEl = document.getElementById("tweets")

function loadTweets(tweetsElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
    // console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response //this is an array
    var finalTweetStr =""
    var i;
    for (i=0 ; i < listedItems.length ; i++){
        // console.log(i)
        // console.log(listedItems[i])
        var tweetObj = listedItems[i]
        var currentItem = formatTweetElement(tweetObj)
        finalTweetStr += currentItem
    }
    // console.log(listedItems)
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()

}

loadTweets(tweetsEl)

function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id, currentCount)
}

function LikeBtn(tweet){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")> " + tweet.likes + " Likes </button>"
}

function formatTweetElement(tweet){

    var formattedTweet = "<div class='col-12 coli-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
    + "'><p>" + tweet.content
    + "</p><div class='btn-group'>" + LikeBtn(tweet) 
    + "</div></div>"
    return formattedTweet
}


</script>

{% endblock content %}