{% extends 'base.html' %}

{% block head_title %}
This is amazing
{% endblock head_title %}

{% block content %}
Welcome to Pop


<div id='tweets'>
    To be replaced
</div>

<script>
const tweetsElement = document.getElementById("tweets")
tweetsElement,innerHTML = 'Loading...'

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function(){
    // console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    console.log(listedItems)
}
xhr.send()

</script>

{% endblock content %}